  <div class="container">
 <%= render "layouts/banner" %>
 <h3 id="world-class">World Class Selection of Cocktails</h3>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-6 col-md-4 col-lg-3">
       <%= render partial:'cocktailcard', locals: {cocktail:cocktail} %>
     </div>
     <% end %>
   </div>
   <div class="fb-share-button" data-href="https://mr-cocktail-3-keemtaker.herokuapp.com/cocktails" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmr-cocktail-3-keemtaker.herokuapp.com%2Fcocktails&amp;src=sdkpreparse">Share</a></div>


           <%= render "layouts/footer" %>

 </div>








