  <div class="container">
 <%= render "layouts/banner" %>
 <h3 id="world-class">World Class Selection of Cocktails</h3>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-6 col-md-4 col-lg-3">
       <%= render partial:'cocktailcard', locals: {cocktail:cocktail} %>
     </div>
     <% end %>
   </div>
           <%= render "layouts/footer" %>

 </div>








