<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Keemtaker" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/keemtaker/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/keem92" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/hakeem-baba-422282106/" target="_blank"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-name">
    Made with <i class="fa fa-heart"> by Hakeem</i>
  </div>
</div>

